table 
{
border: 1px solid #D3D3D3;
width:700px;
}
td 
{
border: 1px solid #D3D3D3;
height:50px;

}
.colorclass
{
background: red;
color: white;
font-weight : bold;
}
.content {
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}
#centertext {
text-align: left;
padding-left : 10px;
}
#leftcol{
width:30%;
}
#leftcolpage2{
width:30%;
}
#revdate {
	float:right;
}
#nameofinstitution {
	text-transform:uppercase
}
#personInfoTd {
	
}