table 
{
border: 1px solid #D3D3D3;
width:700px;
}
td 
{
border: 1px solid #D3D3D3;
height:50px;

}
.colorclass
{
background: red;
color: white;
font-weight : bold;
}
.content {
  width: 700px;
  margin-left: auto ;
  margin-right: auto ;
}
#centertext {
text-align: left;
padding-left : 10px;
}
#leftcol{
width:30%;
}
#leftcolpage2{
width:30%;
}
#revdate {
	float:right;
}
#nameofinstitution {
	text-transform:uppercase
}
#personInfoTd {
	
}

.spltable {
border:none;
}
.spltable1{
border:none;
width:30%;
}
.leftdiv{
float:left;
width:100px;
}
.leftdivonline{
float:left;
width:150px;
}
.centerdiv{
float:left;
width:200px;
border:1px solid #D3D3D3; 
margin-right:10px;
padding-right:10px;
}
.centerdivonline{
float:left;
width:300px;
border:1px solid #D3D3D3; 
margin-right:10px;
padding-right:10px;
}
.rightdiv {
float:left;
border:1px solid #D3D3D3; 
width:130px;
height:165px;
}
.lefttable{
border:none;
background: red;
color: white;
font-weight : bold;
width:100%;
}
.spltext {
width:100%;
}
.centertable {
border:none;
width:100%;
}
.buttondiv {
position:absolute;
z-index:15;
top:60%;
left:50%;
}